body {
  width: 960px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #ccc;
}
.page-header {
  padding: 20px 80px;
  background-color: #888;
}
@media print {
  .page-header {
    background-color: #888;
    -webkit-print-color-adjust: exact;
  }
}
.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__constacts {
  text-align: right;
}
.page-header__entity {
  display: block;
  color: #fff;
}
.page-header__entity--name {
  font-size: 40px;
}
.page-header__entity--title {
  font-size: 24px;
}
.page-header__entity--email {
  font-size: 20px;
}
.page-header__entity--phone {
  font-size: 20px;
  text-decoration: none;
}
.condidate-overview {
  padding: 20px 80px;
}
.condidate-overview__header {
  text-transform: uppercase;
  color: #b32b2b;
}
.condidate-overview__item {
  margin-top: 10px;
}
.skill-set {
  padding: 20px 80px;
}
.skill-set__header {
  text-transform: uppercase;
  color: #b32b2b;
}
.skill-set__common-head {
  width: 100%;
}
.skill-set__common-col {

}
.skill-set__common-col--tech {
  text-align: left;
  width: 60%;
}
.skill-set__common-col--exp {
  width: 20%;
}
.skill-set__common-col--last {
  width: 20%;
}
