<section class="additional-education">

    <h2 class="additional-education__header">
        Additional Courses
    </h2>

    <table class="additional-education__table">
        <% items.map(item => { %>
            <tr class="additional-education__table-row">
                <td class="additional-education__table-cell additional-education__table-cell--company"><%= item.company %></td>
                <td class="additional-education__table-cell additional-education__table-cell--course"><%= item.course %></td>
            </tr>
        <% }); %>
    </table>

</section>
