<section class="education">

    <h2 class="education__header">
        Education
    </h2>

    <p class="education__part education__part--years">
        <%= start -%> &ndash; <%= end -%>
    </p>

    <p class="education__part education__part--university">
        <%= university -%>
    </p>

    <p class="education__part education__part--qualification">
        <%= qualification -%>
    </p>

</section>
