<section class="condidate-overview">
    <div class="condidate-overview__inner">
        <h2 class="condidate-overview__header">
            Candidate’s overview
        </h2>
        <ul class="condidate-overview__list">
            <% items.map(item => { %>
                <li class="condidate-overview__item"><%= item %></li>
            <% }); %>
        </ul>
    </div>
</section>