<section class="projects">

    <h2 class="projects__header" data-aux="examples of recent projects">
        Professional experience
    </h2>

    <% items.map((item, project_idx) => { %>

        <% if (project_idx !== 0 && project_idx % 2 === 0) { %>
            <div class="page-separator"></div>
        <% } %>

        <%- include('project-table', {item}); %>

    <% }); %>

</section>