:root {
    --section-header-text-color: #b32b2b;
    --page-header-bg-color: #888;
    --page-header-text-color: #fff;
}

@media print {
    :root {
        --page-header-bg-color: none;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.page-separator {
    break-after: always;
    page-break-after: always;
}
