.condidate-overview {
  padding: 0px 80px;
}

.condidate-overview__header {
  text-transform: uppercase;
  color: var(--section-header-text-color);
}

.condidate-overview__item {
  margin-top: 10px;
}
