.education {
    @mixin inner-block;
}

.education__header {
    @mixin section-header;
}

.education__part {
    padding-left: 10px;
    margin-top: 1mm;
    margin-bottom: 1mm;
}

.education__part--years {
    font-style: italic;
}
