.page-footer {
  background-color: #888;
  text-align: center;
  color: #fff;
  padding-top: 2mm;
  padding-bottom: 2mm;
}

.page-footer__counter::after {
  content: ' 1 ';
  display: inline;
}

@media print {
  .page-footer {
    background-color: #888;
    -webkit-print-color-adjust: exact;
  }
}