.page-header {
    @mixin inner-block;
    padding-top: 5mm;
    padding-bottom: 5mm;
    margin-bottom: 5mm;
    background-color: var(--page-header-bg-color);
}

@media print {
    .page-header {
        background-color: #888; /* css custom properties do not work on print*/
        -webkit-print-color-adjust: exact;
    }
}

.page-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__constacts {
    text-align: right;
}

.page-header__entity {
    display: block;
    color: var(--page-header-text-color);
}

.page-header__entity--name {
    font-size: 30px;
}

.page-header__entity--title {
    font-size: 20px;
}

.page-header__entity--email {
    font-size: 18px;
}

.page-header__entity--phone {
    font-size: 18px;
    text-decoration: none;
}
