:root {
    counter-reset: page;
}


.page-footer {
    background-color: var(--page-header-bg-color);
    text-align: center;
    color: #fff;
    padding-top: 2mm;
    padding-bottom: 2mm;
}

.page-footer__counter::after {
    counter-increment: page;
    content: " " counter(page);
    display: inline;
}

@media print {
    .page-footer {
      background-color: var(--page-header-bg-color);
      -webkit-print-color-adjust: exact;
    }
}