<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kirill Zaytsev CV</title>
    <meta name="description" content="Kirill Zaytsev CV">
    <meta name="author" content="Kirill Zaytsev">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>

<body>

<%- include('partials/header', person); %>

<main>

    <%- include('partials/overview', overview); %>
    <%- include('partials/skill-set', skills); %>

</main>

</body>

</html>
